<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="img/logo/iintecoLogo.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <title>Registrar</title>
    <link href="/img/logo/iintecoLogo.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
 integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        .containerOwnApp {
   box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
   padding-top: 15px;
}
 
.login-page {
  padding: 18% 0 0;
  margin: 0 auto 100px;
  max-width: 360px;
  position: relative;
}
 
.login-form {
   box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}
 
.login-form-header {
   padding-top: 16px;
}
 
.login-from-row {
   padding-top: 16px;
   padding-bottom: 16px;
}
 
.login-form-font-header {
   font-size:30px; 
   font-weight: bold;
}
 
.login-form-font-header span {
    color: #3ec1d5;
}

    </style>
  </head>
  <body  style="background-color: rgba(165, 156, 130, 0.904);" >
     <div class="container" >
        <div class="row text-center login-page">
	   <div class="col-md-12 login-form" style="background: rgb(247, 74, 52);">
        <% 
        producto.forEach((producto)=>{                
        %>	
        <form action="/editarProducto/<%= producto.id%>" method="post"> 		

	         <div class="row">
		    <div class="col-md-12 login-form-header">
		       <p class="login-form-font-header">The Burger House<p>
		    </div>
		</div>
        <div class="row">
            <div class="col-md-12 login-from-row">
               <input name="nombre" type="text" value="<%= producto.nombre%>" required/>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 login-from-row">
               <input name="descripcion" type="text" value="<%= producto.descripcion%>" required/>
            </div>
         </div> 
         <div class="row">
            <div class="col-md-12 login-from-row">
               <input name="precio" type="text" value="<%= producto.precio%>" required/>
            </div>
         </div>
         
		 
		<div class="row"> 
			<div class="col-md-12 login-from-row">
			   <select class=" " name="tipo" id=" ">
				 <option selected>Categoria del producto</option> 
				 <option value="1">Alimento</option>
				 <option value="2">Bebida</option>
				 <option value="3">Especial</option>
			 </select>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12 login-from-row">
               <input name="foto" type="text" value="<%= producto.foto%>" required/>
            </div>
         </div>
		<div class="row">
		   <div class="col-md-12 login-from-row">
		      <button class="btn btn-warning btn-block" type="submit">ACTUALIZAR</button>
            <br>
              <a href="/theburgerhouse/portal/productos"><button class="btn btn-warning btn-block" type="button">CANCELAR</button></a>
		   </div>
		</div>
        <%
    });
    %>
	    </form>
	</div>
     </div>
  </div>
</body>
</html>